
<script>
  import { onMount } from 'svelte';
  import FeedItem from '../components/FeedItem.svelte';

  let newsFeed;
  let newsSources;

  let pageSize = 15;
  let skip = 0;
  let page = 1;
  let disableButton = false;
  let selectedSourceId = '';
  let loading = false;

  let backendHost = 'https://svelte-news-backend.herokuapp.com';

  let COLUMN_CONFIG = {
    type1: '40-20-20-20',
    type2: '25-25-25-25',
    type3: '33-33-33',
    type4: '50-50',
    type5: '100',
    type6: '60-40',
    type7: '66-33',
    type8: '33-66',
    type9: '40-60',
    type10: '20-20-20-20-20'
  };


  onMount(async () => {
    loading = true;

    await fetch(`${backendHost}/v1/news/categories`)
      .then(r => r.json())
      .then(data => {
        newsSources = data.categories;
      });

    await fetch(`${backendHost}/v1/news/todays-pick?limit=${pageSize}&skip=${skip}`)
      .then(r => r.json())
      .then(data => {
        if (data.data.todaysPick.length < pageSize) disableButton = true;
        newsFeed = data.data.todaysPick;
        loading = false;
      });
	});

  const loadMore = () => {
    // page = page + 1;
    skip = skip + pageSize;
    loading = true;


    if (selectedSourceId) {
      fetch(`${backendHost}/v1/news/${selectedSourceId}?limit=${pageSize}&skip=${skip}`)
        .then(r => r.json())
        .then(data => {
          if (data.data[selectedSourceId].length < pageSize) disableButton = true;
          newsFeed = [...newsFeed, ...data.data[selectedSourceId]];
          loading = false;
        });
    } else {
      fetch(`${backendHost}/v1/news/todays-pick?s?pageSize=${pageSize}&skip=${skip}`)
        .then(r => r.json())
        .then(data => {
          if (data.data.todaysPick.length < pageSize) disableButton = true;
          newsFeed = [...newsFeed, ...data.data.todaysPick];
          loading = false;
        });
    }
  }

  const getClassFromConfig = (index) => {
    // const { config } = this.props;
    const config = '33-33-33';

    switch (config) {
    case COLUMN_CONFIG.type1:
      return index % 4 === 0 ? 'is-two-fifth' : 'is-one-fifth';
    case COLUMN_CONFIG.type2:
      return 'is-one-fourth';
    case COLUMN_CONFIG.type3:
      return 'is-one-third';
    case COLUMN_CONFIG.type4:
      return 'is-half';
    case COLUMN_CONFIG.type5:
      return 'is-full';
    case COLUMN_CONFIG.type6:
      return index % 2 === 0 ? 'is-sixty' : 'is-forty';
    case COLUMN_CONFIG.type7:
      return index % 2 === 0 ? 'is-two-third' : 'is-one-third';
    case COLUMN_CONFIG.type8:
      return index % 2 === 0 ? 'is-one-third' : 'is-two-third';
    case COLUMN_CONFIG.type9:
      return index % 2 === 0 ? 'is-forty' : 'is-sixty';
    case COLUMN_CONFIG.type10:
      return 'is-one-fifth';
    default:
      return null;
    }
  }

  const selectSource = (source) => {
    selectedSourceId = source.id;
    page = 1;
    skip = 0

    fetch(`${backendHost}/v1/news/${selectedSourceId}?limit=${pageSize}&skip=${skip}`)
      .then(r => r.json())
      .then(data => {
        if (data.data[selectedSourceId].length < pageSize) disableButton = true;
        newsFeed = data.data[selectedSourceId];
        loading = false;
      });
  }

</script>


<div class="feedPage">
  <h1>Popular news picks, Today! </h1>
  <h3>Also check top headlines from these popular sources ...</h3>
  {#if newsSources}
    <div class="sourcesContainer">
      {#each  newsSources as source, i}
        <div class="sourceItem" on:click={selectSource(source)} data-source-active={source.id === selectedSourceId ? "active" : ""}>
          {source.name}
        </div>

      {/each}
    </div>

  {/if}

  {#if newsFeed}

    <div class="gridContainer">
      {#each newsFeed as newsItem, i}
        <div class={getClassFromConfig(i)}>
          <FeedItem feedItem={newsItem} />
        </div>
      {/each}
    </div>

  {/if}

  <button class="loadMoreBtn" disabled={disableButton || loading} on:click={loadMore} >
    LOAD MORE
  </button>

</div>

<style>

  .feedPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .gridContainer {
    display: flex;
    flex-wrap: wrap;
  }
  /* .gridItem {
    width: calc(100% / 3);
    display: flex;
    border: 1px solid blue;
  } */

  .loadMoreBtn {
    background: #cc2b5e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #753a88, #cc2b5e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    align-self: center;
    width: 70%;
    color: white;
    letter-spacing: 0.2rem;
    cursor: pointer;
    margin: 10px 0
  }

  .loadMoreBtn[disabled] {
    cursor: not-allowed;
    background-color: grey;
    background-image: none;
  }

  .sourceItem {
    border: 5px solid seashell;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
  }

  .sourceItem[data-source-active="active"] {
    border: 10px solid;
    border-width: 5px;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #753a88, #cc2b5e);
  }

  .sourcesContainer {
    display: flex;
  }

  .is-full {
    width: 100%;
    flex: none;
  }

  .is-half {
    width: 50%;
    flex: none;
  }

  .is-one-third {
    width: 33.33%;
    flex: none;
  }

  .is-one-fourth {
    width: 25%;
    flex: none;
  }

  .is-one-fifth {
    width: 20%;
    flex: none;
  }

  .is-two-fifth {
    width: 40%;
    flex: none;
  }

  .is-sixty {
    width: 60%;
    flex: none;
  }

  .is-forty {
    width: 40%;
    flex: none;
  }

  .is-two-third {
    width: 66.66%;
    flex:none;
  }


  @media (max-width: 1080px) {
    .is-one-fifth, .is-two-fifth {
      width: 25%;
      flex: none;
    }

    .is-sixty, .is-forty {
      width: 100%;
      flex: none;
    }
  }

  @media (max-width: 900px) {
    .is-one-fifth, .is-two-fifth, .is-one-fourth {
      width: 50%;
      flex: none;
    }

    .is-one-third, .is-sixty, .is-forty, .is-two-third {
      width: 100%;
      flex: none;
    }
  }

  @media (max-width: 720px) {
    .is-one-fifth, .is-two-fifth, .is-one-fourth, .is-half {
      width: 100%;
      flex: none;
    }
  }
</style>
