
<script>
  import Todo from '../components/Todo.svelte';
  let todos = [];

  let newTodoName = ''


  function addTodo() {
    todos = [...todos, { id: todos.length + 1, name: newTodoName, completed: false }];

    newTodoName = '';
  }
</script>


<h1>Hello this will be my todo app</h1>

<div>
  <input bind:value={newTodoName} type="text" />
  <button on:click={addTodo}>
    Add todo
  </button>


  <h1>------------------------All Todos ----------------------</h1>
  {#each todos as todo}
    <Todo item={todo} />
  {/each}
</div>
