<script>
  export let feedItem;
  import { isVideoLink } from '../lib/utils';

</script>

<a class="content" href={feedItem.url}>
  <div class="feedItem">
    {#if isVideoLink(feedItem.urlToImage)}
      <video
        src={feedItem.urlToImage}
      >
      <track kind="captions"/>
    </video>
      {:else}
        <img alt={feedItem.title} src={feedItem.urlToImage || "https://cdn.readwynk.com/static/images/article5.jpg"} class="feedItemImage" />
    {/if}
    {feedItem.description}
  </div>
</a>


<style>
  .feedItem {
    display: flex;
    flex-direction: column;
    padding: 5px;
    cursor: pointer;
  }

  .feedItemImage {
    height: 250px;
  }

  .content {
    line-height: 1.3rem;
    font-size: 1.2rem;
  }
</style>
